


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .Nav {
        display: flex;
        justify-content: space-between;
        padding: 12px 10px;
        height: 60px;
        box-shadow: 0 4px 30px rgba(87,94,111,0.1);
        width: 100%;
        overflow-x: hidden;
    }

    .nav-item {
        display: flex;
        justify-content: space-around;
        margin: 0 5px;
    }

    .nav-link {
        margin: 0 5px;
        padding: 5px 5px;;
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
    }

    .nav-link:hover {
        color: #03334b;
    }

    .logo {
        display: flex;
        align-items: center;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
    .Nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;

    }

    .nav-item {
        display: flex;
        justify-content: space-around;
        margin: 0 5px;
    }

    .nav-link {
        margin: 0 10px;
        padding: 5px 15px;;
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
    }

    .nav-link:hover {
        color: #0c6e9e;
    }
}
